#!/usr/bin/env bash

DB_USER="root"             # Replace with your database username
DB_PASSWORD="yourpassword" # Replace with your database password
DB_HOST="localhost"        # Replace with the database server's hostname or IP
DB_NAME="logrefinery"      # Replace with the database name to be reset